{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures" : {
        "jsx": true,
        "objectLiteralShorthandMethods": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
  }
}
